<?xml version="1.0"?>
<model>
  <name>w_beta_arm</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Javier Herrera</name>
    <email>javier.herrera@windrobo.com</email>
  </author>
  <description>Robotic arm system inlcuded in w_beta drone, the purpose of this arm is compensate the driff of drone system while it try to reach the facade</description>
</model>
